<div class="container main-container" style="display: flex;
align-items: center;
justify-content: center;">

  <div class="row text-center">
    <div>
      <h2>Registrar viagens</h2>
      <div class="card h-100">
        <div>
          <form [formGroup]="dimensionsForm" novalidate autocomplete="off">
            <div col-md-12>
              <label>Dimensões: </label>
            </div>
            <div col-md-12>
              <select formControlName="dimensionId">
                <option *ngFor="let dimension of this.lstDimensions" value="{{ dimension.id }}">
                  {{ dimension.name }}
                </option>
              </select>
            </div>
          </form>
        </div>
        <div class="card-footer" *ngIf="this.dimensionsForm.get('dimensionId')?.value">
          <a href="javascript:;" (click)="save()" class="btn btn-primary">Salvar</a>
        </div>
        <div class="card-footer" style="text-align: center;">
          <a (click)="close()" href="javascript:;" class="btn btn-primary">Fechar</a>
        </div>
      </div>
    </div>
  </div>
</div>
