
<header class="bg-primary py-5 mb-5">

</header>

<div class="container main-container" >
  <div class="row text-center" >

    <div class="col-lg-6 col-md-6 mb-6"  *ngFor="let human of lstHumansByDimensionsPaged" >
      <div class="card h-100">
        <img class="card-img-top" src="https://www.hypeness.com.br/1/2018/03/rick-and-morty-4-1.png" height="164px" width="253px" alt="">
        <div class="card-body">
          <h4 class="card-title">{{human.name}}</h4>
          <h4 class="card-title" *ngIf="human.partnerName">{{'& ' + human.partnerName}}</h4>
          <h4 class="card-title" *ngIf="human.partnerName">{{'From ' + human.dimentionName}}</h4>

        </div>
        <div class="card-footer">
          <a [routerLink]="['/human-detail',human.id]"  class="btn btn-primary">Detalhes</a>
        </div>
      </div>
    </div>
    <div  style="margin: 25px; width: 100%;">
      <app-pagination-cards #paginationCardsComponent></app-pagination-cards>
    </div>
  </div>
</div>
<div>
</div>
